# 2.Open API 활용

### 공공데이터포털 사이트 이용
1. 공공데이터포털 사이트 회원가입/로그인
2. 데이터 검색
3. API 사용 요청, 키 발급
4. API 메뉴얼 확인
5. API 연동 개발 및 테스트

In [1]:
import requests
import pandas as pd
import xmltodict
import json

### 보건복지부-코로나19 감염현황 조회 서비스 (XML)

In [2]:
serviceKey = 'gLT9XuBdgaQWZJkm6nWribnWixdVvVN66Seq1J0Hshw42j0zv0agqc13bnNMRJ06GhG3XTjhSrmNnKbl29gxoQ%3D%3D'

url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey={}&pageNo=1&numOfRows=10&startCreateDt=20210801&endCreateDt=20210830'.format(serviceKey)
url

'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=gLT9XuBdgaQWZJkm6nWribnWixdVvVN66Seq1J0Hshw42j0zv0agqc13bnNMRJ06GhG3XTjhSrmNnKbl29gxoQ%3D%3D&pageNo=1&numOfRows=10&startCreateDt=20210801&endCreateDt=20210830'

In [3]:
res = requests.get(url)
res

In [ ]:
res.text

In [ ]:
tmp = xmltodict.parse(res.text)
tmp

In [ ]:
result = json.loads(json.dumps(tmp))  # OrderDuc -> dict(str) -> dict
result

In [7]:
items = result['response']['body']['items']['item']

for item in items:
    print(item)

{'accDefRate': '2.0357291030', 'accExamCnt': '13049679', 'accExamCompCnt': '12282872', 'careCnt': '27404', 'clearCnt': '220358', 'createDt': '2021-08-30 09:40:07.28', 'deathCnt': '2284', 'decideCnt': '250046', 'examCnt': '766807', 'resutlNegCnt': '12032826', 'seq': '619', 'stateDt': '20210830', 'stateTime': '00:00', 'updateDt': '2021-09-02 11:17:07.934'}
{'accDefRate': '2.0285026332', 'accExamCnt': '13015918', 'accExamCompCnt': '12253324', 'careCnt': '27554', 'clearCnt': '218726', 'createDt': '2021-08-29 09:30:47.611', 'deathCnt': '2279', 'decideCnt': '248559', 'examCnt': '762594', 'resutlNegCnt': '12004765', 'seq': '618', 'stateDt': '20210829', 'stateTime': '00:00', 'updateDt': '2021-09-02 11:16:51.761'}
{'accDefRate': '2.0174655735', 'accExamCnt': '12983485', 'accExamCompCnt': '12240308', 'careCnt': '27679', 'clearCnt': '216989', 'createDt': '2021-08-28 09:51:58.552', 'deathCnt': '2276', 'decideCnt': '246944', 'examCnt': '743177', 'resutlNegCnt': '11993364', 'seq': '617', 'stateDt': '20210828', 'stateTime': '00:00', 'updateDt': '2021-09-02 11:14:01.554'}
{'accDefRate': '2.0079023309', 'accExamCnt': '12927788', 'accExamCompCnt': '12209309', 'careCnt': '28213', 'clearCnt': '214673', 'createDt': '2021-08-27 09:47:12.926', 'deathCnt': '2265', 'decideCnt': '245151', 'examCnt': '718479', 'resutlNegCnt': '11964158', 'seq': '616', 'stateDt': '20210827', 'stateTime': '00:00', 'updateDt': '2021-09-02 11:13:42.727'}
{'accDefRate': '2.0015629884', 'accExamCnt': '12866799', 'accExamCompCnt': '12156200', 'careCnt': '28186', 'clearCnt': '212871', 'createDt': '2021-08-26 09:37:19.288', 'deathCnt': '2257', 'decideCnt': '243314', 'examCnt': '710599', 'resutlNegCnt': '11912886', 'seq': '615', 'stateDt': '20210826', 'stateTime': '00:00', 'updateDt': '2021-09-02 11:30:01.593'}
{'accDefRate': '1.9938269183', 'accExamCnt': '12806611', 'accExamCompCnt': '12109025', 'careCnt': '28019', 'clearCnt': '211177', 'createDt': '2021-08-25 09:46:31.206', 'deathCnt': '2237', 'decideCnt': '241433', 'examCnt': '697586', 'resutlNegCnt': '11867592', 'seq': '614', 'stateDt': '20210825', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:41:32.995'}
{'accDefRate': '1.9838150262', 'accExamCnt': '12749750', 'accExamCompCnt': '12061558', 'careCnt': '27858', 'clearCnt': '209193', 'createDt': '2021-08-24 09:39:28.153', 'deathCnt': '2228', 'decideCnt': '239279', 'examCnt': '688192', 'resutlNegCnt': '11822279', 'seq': '613', 'stateDt': '20210824', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:41:25.586'}
{'accDefRate': '1.9806442116', 'accExamCnt': '12694024', 'accExamCompCnt': '12004781', 'careCnt': '27949', 'clearCnt': '207601', 'createDt': '2021-08-23 09:39:10.495', 'deathCnt': '2222', 'decideCnt': '237772', 'examCnt': '689243', 'resutlNegCnt': '11767009', 'seq': '612', 'stateDt': '20210823', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:41:14.818'}
{'accDefRate': '1.9719436771', 'accExamCnt': '12664337', 'accExamCompCnt': '11985890', 'careCnt': '27864', 'clearCnt': '206276', 'createDt': '2021-08-22 09:43:14.04', 'deathCnt': '2215', 'decideCnt': '236355', 'examCnt': '678447', 'resutlNegCnt': '11749535', 'seq': '611', 'stateDt': '20210822', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:41:01.072'}
{'accDefRate': '1.9618626583', 'accExamCnt': '12632597', 'accExamCompCnt': '11964599', 'careCnt': '28009', 'clearCnt': '204518', 'createDt': '2021-08-21 09:47:10.494', 'deathCnt': '2202', 'decideCnt': '234729', 'examCnt': '667998', 'resutlNegCnt': '11729870', 'seq': '610', 'stateDt': '20210821', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:40:49.816'}
{'accDefRate': '1.9555206641', 'accExamCnt': '12567007', 'accExamCompCnt': '11907417', 'careCnt': '27880', 'clearCnt': '202775', 'createDt': '2021-08-20 09:36:01.734', 'deathCnt': '2197', 'decideCnt': '232852', 'examCnt': '659590', 'resutlNegCnt': '11674565', 'seq': '609', 'stateDt': '20210820', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:40:40.283'}
{'accDefRate': '1.9450761767', 'accExamCnt': '12518702', 'accExamCompCnt': '11865962', 'careCnt': '27376', 'clearCnt': '201235', 'createDt': '2021-08-19 09:35:41.913', 'deathCnt': '2191', 'decideCnt': '230802', 'examCnt': '652740', 'resutlNegCnt': '11635160', 'seq': '608', 'stateDt': '20210819', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:40:31.825'}
{'accDefRate': '1.9332954312', 'accExamCnt': '12461683', 'accExamCompCnt': '11826956', 'careCnt': '26890', 'clearCnt': '199582', 'createDt': '2021-08-18 09:41:29.969', 'deathCnt': '2178', 'decideCnt': '228650', 'examCnt': '634727', 'resutlNegCnt': '11598306', 'seq': '607', 'stateDt': '20210818', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:40:23.24'}
{'accDefRate': '1.9249857543', 'accExamCnt': '12404975', 'accExamCompCnt': '11784295', 'careCnt': '27449', 'clearCnt': '197224', 'createDt': '2021-08-17 09:34:16.236', 'deathCnt': '2173', 'decideCnt': '226846', 'examCnt': '620680', 'resutlNegCnt': '11557449', 'seq': '606', 'stateDt': '20210817', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:40:13.792'}
{'accDefRate': '1.9144389113', 'accExamCnt': '12372775', 'accExamCompCnt': '11777550', 'careCnt': '27109', 'clearCnt': '196198', 'createDt': '2021-08-16 09:37:05.069', 'deathCnt': '2167', 'decideCnt': '225474', 'examCnt': '595225', 'resutlNegCnt': '11552076', 'seq': '605', 'stateDt': '20210816', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:40:01.587'}
{'accDefRate': '1.9041406485', 'accExamCnt': '12344714', 'accExamCompCnt': '11759583', 'careCnt': '26660', 'clearCnt': '195103', 'createDt': '2021-08-15 09:34:53.152', 'deathCnt': '2156', 'decideCnt': '223919', 'examCnt': '585131', 'resutlNegCnt': '11535664', 'seq': '604', 'stateDt': '20210815', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:39:50.57'}
{'accDefRate': '1.8907897648', 'accExamCnt': '12309278', 'accExamCompCnt': '11746573', 'careCnt': '26177', 'clearCnt': '193778', 'createDt': '2021-08-14 09:45:15.42', 'deathCnt': '2148', 'decideCnt': '222103', 'examCnt': '562705', 'resutlNegCnt': '11524470', 'seq': '603', 'stateDt': '20210814', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:39:39.859'}
{'accDefRate': '1.8788781328', 'accExamCnt': '12257964', 'accExamCompCnt': '11718429', 'careCnt': '25783', 'clearCnt': '192248', 'createDt': '2021-08-13 09:44:04.528', 'deathCnt': '2144', 'decideCnt': '220175', 'examCnt': '539535', 'resutlNegCnt': '11498254', 'seq': '602', 'stateDt': '20210813', 'stateTime': '00:00', 'updateDt': '2021-08-31 10:39:20.898'}
{'accDefRate': '1.8652929296', 'accExamCnt': '12207240', 'accExamCompCnt': '11697144', 'careCnt': '25512', 'clearCnt': '190536', 'createDt': '2021-08-12 09:38:42.576', 'deathCnt': '2138', 'decideCnt': '218186', 'examCnt': '510096', 'resutlNegCnt': '11478958', 'seq': '601', 'stateDt': '20210812', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:44:36.665'}
{'accDefRate': '1.8529017200', 'accExamCnt': '12156198', 'accExamCompCnt': '11668131', 'careCnt': '24558', 'clearCnt': '189506', 'createDt': '2021-08-11 09:40:02.974', 'deathCnt': '2135', 'decideCnt': '216199', 'examCnt': '488067', 'resutlNegCnt': '11451932', 'seq': '600', 'stateDt': '20210811', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:45:40.418'}
{'accDefRate': '1.8373261648', 'accExamCnt': '12112085', 'accExamCompCnt': '11646163', 'careCnt': '24320', 'clearCnt': '187524', 'createDt': '2021-08-10 09:37:53.03', 'deathCnt': '2134', 'decideCnt': '213978', 'examCnt': '465922', 'resutlNegCnt': '11432185', 'seq': '599', 'stateDt': '20210810', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:47:28.789'}
{'accDefRate': '1.8329173109', 'accExamCnt': '12057829', 'accExamCompCnt': '11590321', 'careCnt': '24073', 'clearCnt': '186243', 'createDt': '2021-08-09 09:37:14.335', 'deathCnt': '2125', 'decideCnt': '212441', 'examCnt': '467508', 'resutlNegCnt': '11377880', 'seq': '598', 'stateDt': '20210809', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:48:29.067'}
{'accDefRate': '1.8246434203', 'accExamCnt': '12027442', 'accExamCompCnt': '11561163', 'careCnt': '23826', 'clearCnt': '185003', 'createDt': '2021-08-08 09:43:32.979', 'deathCnt': '2121', 'decideCnt': '210950', 'examCnt': '466279', 'resutlNegCnt': '11350213', 'seq': '597', 'stateDt': '20210808', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:48:51.727'}
{'accDefRate': '1.8112907907', 'accExamCnt': '11995926', 'accExamCompCnt': '11550989', 'careCnt': '23318', 'clearCnt': '183788', 'createDt': '2021-08-07 09:40:18.999', 'deathCnt': '2116', 'decideCnt': '209222', 'examCnt': '444937', 'resutlNegCnt': '11341767', 'seq': '596', 'stateDt': '20210807', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:49:08.651'}
{'accDefRate': '1.7996199434', 'accExamCnt': '11951650', 'accExamCompCnt': '11524600', 'careCnt': '23232', 'clearCnt': '182054', 'createDt': '2021-08-06 09:43:45.386', 'deathCnt': '2113', 'decideCnt': '207399', 'examCnt': '427050', 'resutlNegCnt': '11317201', 'seq': '595', 'stateDt': '20210806', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:49:32.357'}
{'accDefRate': '1.7897501467', 'accExamCnt': '11908434', 'accExamCompCnt': '11492945', 'careCnt': '22865', 'clearCnt': '180721', 'createDt': '2021-08-05 09:50:52.915', 'deathCnt': '2109', 'decideCnt': '205695', 'examCnt': '415489', 'resutlNegCnt': '11287250', 'seq': '594', 'stateDt': '20210805', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:50:01.016'}
{'accDefRate': '1.7784205860', 'accExamCnt': '11864243', 'accExamCompCnt': '11466354', 'careCnt': '22688', 'clearCnt': '179126', 'createDt': '2021-08-04 09:49:14.864', 'deathCnt': '2106', 'decideCnt': '203920', 'examCnt': '397889', 'resutlNegCnt': '11262434', 'seq': '593', 'stateDt': '20210804', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:50:15.584'}
{'accDefRate': '1.7702684553', 'accExamCnt': '11820014', 'accExamCompCnt': '11421714', 'careCnt': '22181', 'clearCnt': '177910', 'createDt': '2021-08-03 09:38:51.531', 'deathCnt': '2104', 'decideCnt': '202195', 'examCnt': '398300', 'resutlNegCnt': '11219519', 'seq': '592', 'stateDt': '20210803', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:50:37.101'}
{'accDefRate': '1.7653699921', 'accExamCnt': '11772602', 'accExamCompCnt': '11385432', 'careCnt': '22296', 'clearCnt': '176600', 'createDt': '2021-08-02 09:37:51.966', 'deathCnt': '2099', 'decideCnt': '200995', 'examCnt': '387170', 'resutlNegCnt': '11184437', 'seq': '591', 'stateDt': '20210802', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:50:55.941'}
{'accDefRate': '1.7565623686', 'accExamCnt': '11751780', 'accExamCompCnt': '11373180', 'careCnt': '22006', 'clearCnt': '175673', 'createDt': '2021-08-01 09:38:06.089', 'deathCnt': '2098', 'decideCnt': '199777', 'examCnt': '378600', 'resutlNegCnt': '11173403', 'seq': '590', 'stateDt': '20210801', 'stateTime': '00:00', 'updateDt': '2021-08-26 16:51:18.107'}

In [8]:
# 일자(STATE_DT), 확진자수(DECIDE_CNT), 사망자수(DEATH_CNT), 치료중환자수(CARE_CNT)
state_dt = []
decide_cnt = []
death_cnt = []
care_cnt = []

for item in items:
    state_dt.append(item['stateDt'])
    decide_cnt.append(item['decideCnt'])
    death_cnt.append(item['deathCnt'])
    care_cnt.append(item['careCnt'])
state_dt

['20210830',
 '20210829',
 '20210828',
 '20210827',
 '20210826',
 '20210825',
 '20210824',
 '20210823',
 '20210822',
 '20210821',
 '20210820',
 '20210819',
 '20210818',
 '20210817',
 '20210816',
 '20210815',
 '20210814',
 '20210813',
 '20210812',
 '20210811',
 '20210810',
 '20210809',
 '20210808',
 '20210807',
 '20210806',
 '20210805',
 '20210804',
 '20210803',
 '20210802',
 '20210801']

In [9]:
# dataFrame 생성
df_data ={
    '기준일':state_dt,
    '확진자수':decide_cnt,
    '사망자수':death_cnt,
    '완치자수':care_cnt,
}
df_data

{'기준일': ['20210830',
  '20210829',
  '20210828',
  '20210827',
  '20210826',
  '20210825',
  '20210824',
  '20210823',
  '20210822',
  '20210821',
  '20210820',
  '20210819',
  '20210818',
  '20210817',
  '20210816',
  '20210815',
  '20210814',
  '20210813',
  '20210812',
  '20210811',
  '20210810',
  '20210809',
  '20210808',
  '20210807',
  '20210806',
  '20210805',
  '20210804',
  '20210803',
  '20210802',
  '20210801'],
 '확진자수': ['250046',
  '248559',
  '246944',
  '245151',
  '243314',
  '241433',
  '239279',
  '237772',
  '236355',
  '234729',
  '232852',
  '230802',
  '228650',
  '226846',
  '225474',
  '223919',
  '222103',
  '220175',
  '218186',
  '216199',
  '213978',
  '212441',
  '210950',
  '209222',
  '207399',
  '205695',
  '203920',
  '202195',
  '200995',
  '199777'],
 '사망자수': ['2284',
  '2279',
  '2276',
  '2265',
  '2257',
  '2237',
  '2228',
  '2222',
  '2215',
  '2202',
  '2197',
  '2191',
  '2178',
  '2173',
  '2167',
  '2156',
  '2148',
  '2144',
  '2138',
  '2135',
  '2134',
  '2125',
  '2121',
  '2116',
  '2113',
  '2109',
  '2106',
  '2104',
  '2099',
  '2098'],
 '완치자수': ['27404',
  '27554',
  '27679',
  '28213',
  '28186',
  '28019',
  '27858',
  '27949',
  '27864',
  '28009',
  '27880',
  '27376',
  '26890',
  '27449',
  '27109',
  '26660',
  '26177',
  '25783',
  '25512',
  '24558',
  '24320',
  '24073',
  '23826',
  '23318',
  '23232',
  '22865',
  '22688',
  '22181',
  '22296',
  '22006']}

In [10]:
df = pd.DataFrame(df_data)
df

         기준일    확진자수  사망자수   완치자수
0   20210830  250046  2284  27404
1   20210829  248559  2279  27554
2   20210828  246944  2276  27679
3   20210827  245151  2265  28213
4   20210826  243314  2257  28186
5   20210825  241433  2237  28019
6   20210824  239279  2228  27858
7   20210823  237772  2222  27949
8   20210822  236355  2215  27864
9   20210821  234729  2202  28009
10  20210820  232852  2197  27880
11  20210819  230802  2191  27376
12  20210818  228650  2178  26890
13  20210817  226846  2173  27449
14  20210816  225474  2167  27109
15  20210815  223919  2156  26660
16  20210814  222103  2148  26177
17  20210813  220175  2144  25783
18  20210812  218186  2138  25512
19  20210811  216199  2135  24558
20  20210810  213978  2134  24320
21  20210809  212441  2125  24073
22  20210808  210950  2121  23826
23  20210807  209222  2116  23318
24  20210806  207399  2113  23232
25  20210805  205695  2109  22865
26  20210804  203920  2106  22688
27  20210803  202195  2104  22181
28  20210802  200995  2099  22296
29  20210801  199777  2098  22006

### JSON 데이터

In [11]:
pageNo = 1
url =  'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey={}&numOfRows=10&pageNo={}&MobileOS=ETC&MobileApp=AppTest&_type=json'.format(serviceKey,pageNo)

url

'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey=gLT9XuBdgaQWZJkm6nWribnWixdVvVN66Seq1J0Hshw42j0zv0agqc13bnNMRJ06GhG3XTjhSrmNnKbl29gxoQ%3D%3D&numOfRows=10&pageNo=1&MobileOS=ETC&MobileApp=AppTest&_type=json'

In [12]:
res = requests.get(url)

res

In [13]:

data = res.json()

In [14]:
numOfRows = data['response']['body']['numOfRows']
totalCount = data['response']['body']['totalCount']

numOfRows, totalCount

(10, 17)

In [15]:
queryCount = totalCount // numOfRows
if totalCount % numOfRows >0:
    queryCount += 1
queryCount

2

In [16]:
code = []
name = []
rnum = []
for i in range(queryCount):
    pageNo = i +1
    url = 'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey={}&numOfRows=10&pageNo={}&MobileOS=ETC&MobileApp=AppTest&_type=json'.format(serviceKey,pageNo)
    res = requests.get(url)
    data = res.json()
    
    items = data['response']['body']['items']['item']
    
    for item in items:
        code.append(item['code'])
        name.append(item['name'])
        rnum.append(item['rnum'])
name

['서울',
 '인천',
 '대전',
 '대구',
 '광주',
 '부산',
 '울산',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '경상북도',
 '경상남도',
 '전라북도',
 '전라남도',
 '제주도']

In [17]:
df_data = {
    'code' : code,
    'name' : name,
    'rnum' : rnum
}

df = pd.DataFrame(data = df_data)
df

    code     name  rnum
0      1       서울     1
1      2       인천     2
2      3       대전     3
3      4       대구     4
4      5       광주     5
5      6       부산     6
6      7       울산     7
7      8  세종특별자치시     8
8     31      경기도     9
9     32      강원도    10
10    33     충청북도    11
11    34     충청남도    12
12    35     경상북도    13
13    36     경상남도    14
14    37     전라북도    15
15    38     전라남도    16
16    39      제주도    17