# 2. Series

In [34]:
import pandas as pd
import numpy  as np

## 2-1. Series 생성하기
* Numpy에서 제공하는 1차원 배열과 유사, 엑셀에서 한 컬럼
* Series = 1차원 배열의 값(data) + 행 인덱스(row index)

In [35]:
# 1. value값만 주기
# index를 지정하지 않으면 0으로 시작하는 index가 부여된다.
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [36]:
type(s)

pandas.core.series.Series

In [37]:
s.shape

(4,)

In [38]:
# index 속성
s.index

RangeIndex(start=0, stop=4, step=1)

In [39]:
s.values

array([1, 2, 3, 4], dtype=int64)

In [40]:
type(s.values)

numpy.ndarray

In [41]:
s2  = pd.Series([1,2,3,4], dtype=float)
s2

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [42]:
s = pd.Series(np.array([1,2,3,4]))
s

0    1
1    2
2    3
3    4
dtype: int32

In [43]:
# 1~10까지 Series 만들기
pd.Series(range(1, 11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [44]:
pd.Series(np.arange(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [45]:
# 2. value값과 index 둘다 주기
index = [1,2,3,4]
s = pd.Series([10,20,30,40], index = index)
s

1    10
2    20
3    30
4    40
dtype: int64

In [46]:
# 숫자 뿐만 아니라 문자열도 줄 수 있음
index = ['치킨','탕수육','곱창','선지국']
s = pd.Series([16000,18000,20000,10000], index = index)
s

치킨     16000
탕수육    18000
곱창     20000
선지국    10000
dtype: int64

In [47]:
s.index

Index(['치킨', '탕수육', '곱창', '선지국'], dtype='object')

In [48]:
s.values

array([16000, 18000, 20000, 10000], dtype=int64)

In [49]:
# 3. 딕셔너리 형태로 만들기
s = pd.Series({'치킨':16000,'탕수육':18000,'곱창':20000,'선지국':10000})
s

치킨     16000
탕수육    18000
곱창     20000
선지국    10000
dtype: int64

In [50]:
s.name = '메뉴'
s

치킨     16000
탕수육    18000
곱창     20000
선지국    10000
Name: 메뉴, dtype: int64

In [51]:
s.index.name= '메뉴명'
s

메뉴명
치킨     16000
탕수육    18000
곱창     20000
선지국    10000
Name: 메뉴, dtype: int64

## 2-2. Series 인덱싱과 슬라이싱

In [52]:
s

메뉴명
치킨     16000
탕수육    18000
곱창     20000
선지국    10000
Name: 메뉴, dtype: int64

In [53]:
# 인덱스 라벨을 이용한 인덱싱 방법
s['치킨'], s.치킨  # 문자열이기 때문에 가능 s.1, s.2 불가

(16000, 16000)

In [54]:
# 0 인덱스를 통한 인덱싱 방법
s[0]

16000

In [55]:
s['선지국'], s.선지국, s[3] , s[-1]

(10000, 10000, 10000, 10000)

In [56]:
t= pd.Series([10,20,30,40], index = [1,2,3,4])  # key가 정수일때 인덱스보다 key값을 먼저 참조하여 값을 가져온다

In [57]:
t

1    10
2    20
3    30
4    40
dtype: int64

In [58]:
t[1]

10

In [60]:
#t[0]

In [61]:
s

메뉴명
치킨     16000
탕수육    18000
곱창     20000
선지국    10000
Name: 메뉴, dtype: int64

In [62]:
# Fnacy 인덱싱
s[['치킨','곱창']]

메뉴명
치킨    16000
곱창    20000
Name: 메뉴, dtype: int64

In [63]:
s[[0,2]]

메뉴명
치킨    16000
곱창    20000
Name: 메뉴, dtype: int64

In [64]:
# Boolean 인덱싱
s <= 17000

메뉴명
치킨      True
탕수육    False
곱창     False
선지국     True
Name: 메뉴, dtype: bool

In [65]:
s[s <= 17000]

메뉴명
치킨     16000
선지국    10000
Name: 메뉴, dtype: int64

In [66]:
s[(s >= 18000) & (s <= 20000)]

메뉴명
탕수육    18000
곱창     20000
Name: 메뉴, dtype: int64

In [67]:
# 슬라이싱 (start: end : step)
s

메뉴명
치킨     16000
탕수육    18000
곱창     20000
선지국    10000
Name: 메뉴, dtype: int64

In [68]:
# 0 슬라이싱 방법 : end 인덱스 -1 까지 포함
s[1:3]

메뉴명
탕수육    18000
곱창     20000
Name: 메뉴, dtype: int64

In [69]:
# 인덱스 라벨로 슬라이싱 방법 : end 인덱스 라벨 포함
s['탕수육':'곱창']  # 라벨로 인덱스를 받을때 end-1 규칙은 적용되지 않는다.

메뉴명
탕수육    18000
곱창     20000
Name: 메뉴, dtype: int64

In [70]:
t

1    10
2    20
3    30
4    40
dtype: int64

In [71]:
t[1:3]  # 이떄는 인덱스 기준으로 하네요...

2    20
3    30
dtype: int64

## 2-3. Series 데이터 CRUD

In [72]:
# 앞에서부터 데이터 조회하기
s.head(2)

메뉴명
치킨     16000
탕수육    18000
Name: 메뉴, dtype: int64

In [73]:
# 뒤에서부터 데이터 가져오기
s.tail(2)

메뉴명
곱창     20000
선지국    10000
Name: 메뉴, dtype: int64

In [74]:
# 데이터 추가 (계란찜)
s['계란찜'] = 3000
s

메뉴명
치킨     16000
탕수육    18000
곱창     20000
선지국    10000
계란찜     3000
Name: 메뉴, dtype: int64

In [75]:
# 데이터 추가 (value 미정)  => 만약 0으로 정하면 평균값에 영향을 미침,NaN은 영향 x
s['감자탕'] = np.NaN
s

메뉴명
치킨     16000.0
탕수육    18000.0
곱창     20000.0
선지국    10000.0
계란찜     3000.0
감자탕        NaN
Name: 메뉴, dtype: float64

In [76]:
# 비어있는 데이터 찾기
s.isnull()

메뉴명
치킨     False
탕수육    False
곱창     False
선지국    False
계란찜    False
감자탕     True
Name: 메뉴, dtype: bool

In [77]:
s.isna()

메뉴명
치킨     False
탕수육    False
곱창     False
선지국    False
계란찜    False
감자탕     True
Name: 메뉴, dtype: bool

In [78]:
# Boolean 인덱싱
s[s.isna()]

메뉴명
감자탕   NaN
Name: 메뉴, dtype: float64

In [79]:
# 비어있지 않은 데이터 찾기
s.notnull()

메뉴명
치킨      True
탕수육     True
곱창      True
선지국     True
계란찜     True
감자탕    False
Name: 메뉴, dtype: bool

In [80]:
s.notna()

메뉴명
치킨      True
탕수육     True
곱창      True
선지국     True
계란찜     True
감자탕    False
Name: 메뉴, dtype: bool

In [81]:
s[s.notna()]

메뉴명
치킨     16000.0
탕수육    18000.0
곱창     20000.0
선지국    10000.0
계란찜     3000.0
Name: 메뉴, dtype: float64

In [82]:
# 값 변경하기
s["치킨"] = 18000
s

메뉴명
치킨     18000.0
탕수육    18000.0
곱창     20000.0
선지국    10000.0
계란찜     3000.0
감자탕        NaN
Name: 메뉴, dtype: float64

In [87]:
s[0] = 18000
s
s[8] = np.NaN

s

IndexError: index 8 is out of bounds for axis 0 with size 8

In [50]:
# 데이터 삭제
del s['감자탕']
s

메뉴명
치킨     18000.0
탕수육    18000.0
곱창     20000.0
선지국    10000.0
계란찜     3000.0
Name: 메뉴, dtype: float64

## 2-4. Series 연산

In [51]:
# Series간의 연산 , Series간의 연산을 위해 인덱스가 같아야한다.
data =[18000,18000,20000,10000,3000]
index = ['치킨','탕수육','곱창','선지국','계란찜']
s2 = pd.Series(data=data,index=index)
s2

치킨     18000
탕수육    18000
곱창     20000
선지국    10000
계란찜     3000
dtype: int64

In [52]:
s3 = s.copy()
s3

메뉴명
치킨     18000.0
탕수육    18000.0
곱창     20000.0
선지국    10000.0
계란찜     3000.0
Name: 메뉴, dtype: float64

In [53]:
s + s2  # 인덱스 라벨값이 동일해야함, label이 다른 것이 있다면 NaN으로 표시됨(짝이 없는 둘다 NaN이 됨)

메뉴명
치킨     36000.0
탕수육    36000.0
곱창     40000.0
선지국    20000.0
계란찜     6000.0
dtype: float64

In [54]:
s-s2

메뉴명
치킨     0.0
탕수육    0.0
곱창     0.0
선지국    0.0
계란찜    0.0
dtype: float64

In [55]:
# Scalar와의 연산 (Broadcast)
s = s + 2000
s

메뉴명
치킨     20000.0
탕수육    20000.0
곱창     22000.0
선지국    12000.0
계란찜     5000.0
Name: 메뉴, dtype: float64

In [56]:
# Aggregation 함수  (집합)
s.max()

22000.0

In [57]:
s.min()

5000.0

In [58]:
s.sum()

79000.0

In [59]:
s.mean()

15800.0

In [60]:
s.median()

20000.0

In [61]:
s

메뉴명
치킨     20000.0
탕수육    20000.0
곱창     22000.0
선지국    12000.0
계란찜     5000.0
Name: 메뉴, dtype: float64